/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  font-size: 4vw; }

body {
  background-color: #ebedef;
  width: 100vw;
  min-height: 100vh;
  color: #0e1111;
  font-family: "Share Tech Mono", monospace; }

h2 {
  font-size: 2rem;
  font-weight: 900; }

a:not(.decoration-none) {
  text-decoration: underline;
  color: #60617d; }

.decoration-none {
  text-decoration: none; }

.main {
  width: 100vw;
  margin: 0 auto;
  text-align: center; }

.title-font, .title {
  font-family: "Sarpanch", sans-serif; }

.title {
  font-size: 8rem;
  font-weight: 900; }

.content {
  margin-left: 0.4rem;
  margin-right: 0.4rem; }

.btn-extend-field {
  padding: 0.25rem 0.75rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #0e1111;
  border-radius: 0.15rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: inherit;
  color: #0e1111;
  background-color: #fdfeff;
  cursor: pointer;
  margin-bottom: 1rem; }
  .btn-extend-field:active, .btn-extend-field.active {
    background-color: #babcf0; }
  .btn-extend-field:disabled, .btn-extend-field.disabled {
    border-color: #a8a9ab;
    background-color: #ebedef;
    color: #a8a9ab; }

.field {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  margin-bottom: 1rem; }

.row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 0.2rem;
  overflow: hidden;
  transition-properties: height, opacity;
  transition-timing-function: ease-in;
  transition-duration: .3s; }
  .row-exit {
    height: 3.9rem;
    opacity: 1; }
  .row-exit-active {
    height: 0;
    opacity: 0; }

.cell-wrapper {
  padding: 0.1rem 0; }

.cell {
  padding: 0.25rem 0.75rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #0e1111;
  border-radius: 0.15rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: inherit;
  color: #0e1111;
  background-color: #fdfeff;
  cursor: pointer;
  height: 3.7rem;
  overflow: hidden;
  width: 100%;
  padding: 0.25rem 0;
  transition-properties: color, border-color, background-color;
  transition-timing-function: ease-out;
  transition-duration: .3s; }
  .cell:active, .cell.active {
    background-color: #babcf0; }
  .cell:disabled, .cell.disabled {
    border-color: #a8a9ab;
    background-color: #ebedef;
    color: #a8a9ab; }

.redirect-notice .header {
  margin-bottom: 1rem; }

.redirect-notice .notice {
  margin-bottom: 1rem; }

.redirect-notice .redirect-btn {
  padding: 0.25rem 0.75rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #0e1111;
  border-radius: 0.15rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: inherit;
  color: #0e1111;
  background-color: #fdfeff;
  cursor: pointer; }
  .redirect-notice .redirect-btn:active, .redirect-notice .redirect-btn.active {
    background-color: #babcf0; }
  .redirect-notice .redirect-btn:disabled, .redirect-notice .redirect-btn.disabled {
    border-color: #a8a9ab;
    background-color: #ebedef;
    color: #a8a9ab; }

