/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.btn {
  padding: 0.25rem 0.75rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #0e1111;
  border-radius: 0.15rem;
  box-shadow: 0.17rem 0.12rem 0.1rem 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 2.5rem;
  font-family: inherit;
  color: #0e1111;
  background-color: #fdfeff;
  cursor: pointer;
  transform: scale(1);
  transition-properties: color, border-color, background-color, transform;
  transition-timing-function: ease-in;
  transition-duration: .3s; }
  .btn:active:not(:disabled), .btn--active:not(.btn--disabled) {
    transform: scale(0.98);
    box-shadow: 0.1rem 0.05rem 0.05rem 0 rgba(0, 0, 0, 0.6);
    transition-duration: .1s;
    transition-timing-function: ease-out; }
  .btn:disabled, .btn--disabled {
    border-color: #a8a9ab;
    background-color: #ebedef;
    color: #a8a9ab;
    box-shadow: none; }
  .btn:focus {
    outline: none; }
  .btn::-moz-focus-inner {
    border: 0; }
  .btn--single-line, .btn--cell {
    height: 3.7rem;
    overflow: hidden; }
  .btn--invisible {
    padding: 0;
    border: none;
    background: none; }

.btn-cuboid {
  width: 14rem;
  height: 3.7rem;
  perspective: 800px; }
  .btn-cuboid__cuboid {
    position: relative;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: translateZ(-1.85rem);
    transition-properties: transform;
    transition-timing-function: cubic-bezier(0.54, 0.08, 0.39, 1.41);
    transition-duration: .4s; }
    .btn-cuboid__cuboid--show-front {
      transform: translateZ(-1.85rem) rotateY(0deg); }
      .btn-cuboid__cuboid--show-front .btn-cuboid__face--front {
        opacity: 1;
        transition-delay: 0s; }
    .btn-cuboid__cuboid--show-top {
      transform: translateZ(-1.85rem) rotateX(-90deg); }
      .btn-cuboid__cuboid--show-top .btn-cuboid__face--top {
        opacity: 1;
        transition-delay: 0s; }
  .btn-cuboid__face {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    transition-properties: opacity;
    transition-timing-function: ease-out;
    transition-duration: .1s;
    transition-delay: .2s; }
    .btn-cuboid__face--top {
      transform: rotateX(90deg) translateZ(1.85rem); }
    .btn-cuboid__face--front {
      transform: rotateY(0deg) translateZ(1.85rem); }
    .btn-cuboid__face .btn {
      width: inherit; }

.conu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }
  @media (min-width: 480px) {
    .conu {
      width: 480px; } }
  .conu__header {
    display: flex;
    justify-content: center;
    padding: 2rem; }
  .conu__logo {
    display: block;
    width: 7.9rem;
    height: 7.9rem; }
    .conu__logo--not-interactive {
      cursor: initial; }
  .conu__menu-wrapper {
    position: relative;
    width: 12rem;
    overflow: hidden;
    transition-property: width, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out; }
    .conu__menu-wrapper--collapsed {
      width: 0;
      opacity: 0;
      transition-timing-function: ease-in; }

.menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  height: 7.9rem;
  padding: 1rem;
  text-align: left; }

.btn--logo {
  border-radius: 0.81rem; }

.btn--menu-item {
  font-size: 1.5rem; }

.field {
  display: flex;
  flex-direction: column; }
  .field__row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 0.2rem;
    height: 3.9rem;
    transition-properties: height, opacity;
    transition-timing-function: ease-in;
    transition-duration: .3s; }
    .field__row-exit {
      height: 3.9rem;
      opacity: 1; }
    .field__row-exit-active {
      height: 0;
      opacity: 0; }
  .field__cell-wrapper {
    padding: 0.1rem 0; }

.btn--cell {
  width: 100%;
  padding: 0.25rem 0; }

.btn--selected {
  background-color: #babcf0; }

.game .game__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  min-height: 7.8rem; }

.game .game__won-message {
  font-size: 3.5rem;
  animation: 0.2s won-message cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards; }

@keyframes won-message {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.btn-cuboid--cell-matching-width {
  display: inline-block;
  width: 13.355rem;
  margin-bottom: 2rem; }

.redirect-notice__header {
  margin-bottom: 1rem; }

.redirect-notice__text {
  margin-bottom: 1rem; }

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ebedef;
  z-index: 10;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: ease-out; }
  .loading-screen--faded {
    opacity: 0; }
    .loading-screen--faded .loading-indicator__cube {
      animation-play-state: paused; }
  .loading-screen--content {
    position: static;
    flex: 1 1 auto; }

.loading-indicator {
  width: 4rem;
  height: 4rem;
  perspective: 800px; }
  .loading-indicator__cube {
    position: relative;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    animation: loading 10s linear infinite; }

@keyframes loading {
  0%, 100% {
    transform: translateZ(-2rem) rotateX(0) rotateY(0) rotateZ 0; }
  10% {
    transform: translateZ(-2rem) rotateX(160deg) rotateY(95deg) rotateZ(137deg); }
  20% {
    transform: translateZ(-2rem) rotateX(307deg) rotateY(158deg) rotateZ(157deg); }
  30% {
    transform: translateZ(-2rem) rotateX(70deg) rotateY(23deg) rotateZ(203deg); }
  40% {
    transform: translateZ(-2rem) rotateX(322deg) rotateY(117deg) rotateZ(211deg); }
  50% {
    transform: translateZ(-2rem) rotateX(70deg) rotateY(219deg) rotateZ(315deg); }
  60% {
    transform: translateZ(-2rem) rotateX(122deg) rotateY(36deg) rotateZ(120deg); }
  70% {
    transform: translateZ(-2rem) rotateX(191deg) rotateY(285deg) rotateZ(46deg); }
  80% {
    transform: translateZ(-2rem) rotateX(115deg) rotateY(229deg) rotateZ(220deg); }
  90% {
    transform: translateZ(-2rem) rotateX(36deg) rotateY(307deg) rotateZ(40deg); } }
  .loading-indicator__face {
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url(/conu/a5cd31f6e28deb29081d039b0f8484b9.svg);
    background-size: 100% 100%;
    background-color: black; }
    .loading-indicator__face--front {
      transform: rotateY(0deg) translateZ(2rem); }
    .loading-indicator__face--right {
      transform: rotateY(90deg) translateZ(2rem); }
    .loading-indicator__face--back {
      transform: rotateY(180deg) translateZ(2rem); }
    .loading-indicator__face--left {
      transform: rotateY(-90deg) translateZ(2rem); }
    .loading-indicator__face--top {
      transform: rotateX(90deg) translateZ(2rem); }
    .loading-indicator__face--bottom {
      transform: rotateX(-90deg) translateZ(2rem); }

html {
  font-size: 4vw; }
  @media (min-width: 480px) {
    html {
      font-size: 19.2px; } }

body {
  background-color: #ebedef;
  color: #0e1111;
  font-family: "Share Tech Mono", monospace;
  overflow-x: hidden; }

h2 {
  font-size: 2rem;
  font-weight: 900; }

a:not(.decoration-none) {
  text-decoration: underline;
  color: #60617d; }

.decoration-none {
  text-decoration: none; }

