$conu-padding: 0.4rem;

.conu {
	display: flex;
	flex-direction: column;

	width: 100vw;
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;

	padding-left: $conu-padding;
	padding-right: $conu-padding;

	@include mq-mobile-landscape-up() {
		width: $mobile-landscape-width;
	}

	&__header {
		display: flex;
		justify-content: center;

		padding: 2rem;
	}

	&__logo {
		display: block;

		width: 7.9rem;
		height: 7.9rem;

		&--not-interactive {
			cursor: initial;
		}
	}

	&__menu-wrapper {
		position: relative;

		width: 12rem;
		overflow: hidden;

		transition-property: width, opacity;
		transition-duration: .3s;
		transition-timing-function: ease-out;

		&-enter {
			width: 0;
			opacity: 0;
		}

		&-enter-active {
			width: 12rem;
			opacity: 1;
		}

		&-exit {
			width: 12rem;
			opacity: 1;
		}

		&-exit-active {
			width: 0;
			opacity: 0;

			transition-timing-function: ease-in;
		}

		&-exit-done {
			display: none;
		}
	}
}

.menu {
	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 12rem;
	height: 7.9rem;
	padding: 1rem;

	text-align: left;
}

.btn--logo {
	border-radius: 0.81rem;
}

.btn--menu-item {
	font-size: 1.5rem;

		// &:before {
		// 	content: "";
		// 	display: inline-block;
    //
		// 	width: 0.6em;
		// 	height: 0.6em;
		// 	margin-right: 0.05em;
		// 	margin-bottom: 0.03em;
    //
		// 	background-image: url( ../../assets/images/arrow.svg );
		// 	background-size: 100% 100%;
		// 	background-repeat: no-repeat;
		// }
}

