$conu-padding: 0.4rem;

.conu {
	width: 100vw;
	margin: 0 auto;
	text-align: center;

	padding-left: $conu-padding;
	padding-right: $conu-padding;

	@include mq-mobile-landscape-up() {
		width: $mobile-landscape-width;
	}

	&__header {
		display: flex;
		justify-content: center;

		padding: 2rem;
	}

	&__logo {
		width: 7.9rem;
		height: 7.9rem;
	}
}

