// I calculated this value by hand; TODO add calc() expression
$cell-width: 2.511rem;
$cell-h-spacing: 0.2rem;
$cell-v-spacing: 0.2rem;
$row-height: $btn-single-line-height + $cell-v-spacing;

.field {
	display: flex;
	flex-direction: column;

	&__row {
		display: grid;
		grid-template-columns: repeat( 9, 1fr );
		grid-column-gap: $cell-h-spacing;

		height: $row-height;

		transition-properties: height, opacity;
		transition-timing-function: ease-in;
		transition-duration: .3s;

		&-exit {
			height: $row-height;
			opacity: 1;
		}

		&-exit-active {
			height: 0;
			opacity: 0;
		}
	}

	&__cell-wrapper {
		padding: $cell-v-spacing / 2 0;
	}
}

.btn--cell {
	@extend .btn--single-line;

	width: 100%;
	padding: 0.25rem 0;
}

.btn--selected {
	background-color: #babcf0;
}

