html {
	font-size: 4vw;
}

body {
	background-color: #ebedef;
	width: 100vw;
	min-height: 100vh;
	color: #0e1111;
	font-family: "Share Tech Mono", monospace;
}

h2 {
	font-size: 2rem;
	font-weight: 900;
}

a:not(.decoration-none) {
	text-decoration: underline;
	color: #60617d;
}

.decoration-none {
	text-decoration: none;
}

.main {
	width: 100vw;
	margin: 0 auto;
	text-align: center;
}

.title-font {
	font-family: "Sarpanch", sans-serif;
}

.title {
	@extend .title-font;

	font-size: 8rem;
	font-weight: 900;
}

.content {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

