@mixin btn {
	padding: 0.25rem 0.75rem;

	border-width: 0.2rem;
	border-style: solid;
	border-color: #0e1111;
	border-radius: 0.15rem;

	text-align: center;
	font-size: 2.5rem;
	font-family: inherit;
	color: #0e1111;

	background-color: #fdfeff;

	cursor: pointer;

	&:active,
	&.active {
		background-color: #babcf0;
	}

	&:disabled,
	&.disabled {
		border-color: #a8a9ab;
		background-color: #ebedef;
		color: #a8a9ab;
	}
}

@mixin btn-single-line {
	@include btn;

	height: 3.7rem;
	overflow: hidden;
}
