$mobile-portrait-width: 320px; //  320 | +320
$mobile-landscape-width: 480px; //  480 | +160
$tablet-portrait-width: 768px; //  768 | +288
$tablet-landscape-width: 960px; //  960 | +192
$small-width: 1024px; // 1024 |  +64
$medium-width: 1200px; // 1200 | +264
$full-width: 1366px; // 1440 | +240
$full-content-width: 58.875rem;

